{% extends 'watcher/base.html' %}

{% block body_block %}

    <form class="form-signin span8" id="add_draft_form" method="post" action="/add_draft/">

    <h1>Добавить законопроект</h1>
    <br/>
    {% csrf_token %}

    <div class="row">
      <div class="col-xs-5">
        {% for field in form.visible_fields %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
        {% for error in field.errors %}
        <span class="help-block">{{ error }}</span>
        {% endfor %}
        
        <input type="text" class="form-control" placeholder="Номер законопроекта" name="number" required autofocus>
        </div>
        {% endfor %}
        <button id="addbtn2" class="btn btn-lg btn-primary" type="submit">Добавить</button>
      </div>
    </div>
{% endblock %}

