{% extends 'watcher/base.html' %}

{% block body_block %}
    <h1>Добавить законопроект</h1>
    <br/>

    <form id="add_draft_form" method="post" action="/add_draft/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br />
        {% endfor %}

        <br/>
        <button type="submit" name="submit">Добавить</button>
    </form>

{% endblock %}

