{% extends 'watcher/base.html' %}

{% block body_block %}

    {% if drafts %}
        <div class="col-sm-12">
        <div class="list-group">
            {% for draft in drafts %}
            <div class='list-group-item'>
                <div class="row">
                    <div class="col-xs-10">
                        <a href="/draft/{{ draft.number }}/" class="list-group-item">
                          <h4 class="list-group-item-heading">Законопроект № {{ draft.number }}</h4>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        {% if user.is_authenticated %}
                            {% if draft in userdrafts %}
                            <a href="/release_user_from_draft/{{ draft.number }}/" class="btn btn-warning pull-right">Отписаться</a>
                            {% else %}
                            <a href="/add_draft_to_user/{{ draft.number }}/" class="btn btn-success pull-right">Подписаться</a>
                            {% endif %}
                        {% endif %}
                    </div><!-- coll-xs-3 -->
                </div><!-- row -->
                <div class="list-group-item">
                    <p class="list-group-item-text">{{ draft.title }}</p>
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="list-group-item-text alert">
                                <strong>{{ draft.curent_status }}</strong>
                            </div>
                        </div>
                    </div><!-- row -->
                </div><!-- list-group-item -->
            </div><!-- list-group-item -->
            {% endfor %}
        </div><!-- list-group -->
        </div><!-- /.col-sm-8 -->
    {% else %}
        <p>Тут пока ничего нет</p>
    {% endif %}

{% endblock %}
