<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name='yandex-verification' content='43682e036638bdae' />
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png">

    <title>Закономонитор {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Закономонитор</a>
        </div>
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/all_drafts/">Все законопроекты</a></li>
          </ul>

          <form class="nav navbar-nav navbar-form" role="form" id="add_draft_form" method="post" action="/add_draft/">
            {% csrf_token %}
              <input type="text" placeholder="Номер законопроекта" class="form-control" name="number">
              <button id="addbtn" type="submit" class="btn btn-info">Добавить законопроект</button>
          </form>

          <ul class="nav navbar-nav navbar-right">
              <li><a href="/profile/">{{ user.username }}</a></li>
            <li><a href='/logout/' class="btn btn-warning">Выйти</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        {% else %}
        <div class="collapse navbar-collapse">
          <form class="navbar-form navbar-right" role="form" id="login_form" method="post" action="/login/">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Логин" class="form-control" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Пароль" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-success">Войти</button>
            <a href='/register/' class="btn btn-success">Зарегистрироваться</a>
          </form>
        </div><!--/.nav-collapse -->
        {% endif %}
      </div>
    </div>

    <div class="container">
    {% block body_block %}{% endblock %}
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/watcher.js' %}"></script>
    
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=25090334&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/25090334/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:25090334,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter25090334 = new Ya.Metrika({id:25090334,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watching/25090334" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>
</html>
