{% extends 'watcher/base.html' %}

{% block body_block %}

    {% if draft %}
    <h1> {{ draft.title }} </h1>
    <p> {{ draft.number }} </p>
    {% else %}
        <p>Тут пока ничего нет</p>
    {% endif %}

    {% if history %}
    <ul>
        {% for day in history %}
        <li>{{ day }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if user.is_authenticated %}
        {% if draft in userdrafts %}

        <form id="add_comment_form" method="post" action="/draft/{{ draft.number }}/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}<br/>
            {{ field }}<br />
        {% endfor %}

        <br/>
        <button type="submit" name="submit">Добавить</button>
    </form>
        <a href="/release_user_from_draft/{{ draft.number }}/">Отписаться</a>
        {% else %}
        <a href="/add_draft_to_user/{{ draft.number }}/">Подписаться</a>
        {% endif %}
    {% endif %}

{% endblock %}
