{% extends 'watcher/base.html' %}

{% block body_block %}

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Закономонитор</h1>
        <p>это сайт для слежения за изменениями статусов законопроектов,
        внесённых в Государственную Думу Российской Федерации. Все законопроекты можно
        найти на сайте <a href="http://asozd2.duma.gov.ru/">
            Автоматизированной системы обеспечения законодательной деятельности</a>.</p>
        <hr>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Недавно обновившиеся</h2>
          <ul class="list-group">
          {% for draft in recently_updated %}
          <li class="list-group-item"><a href="/draft/{{draft.number}}">{{draft.number}}</a> <abbr title="{{draft.title}}">{{draft.title|truncatechars:100}}</abbr</li>
          {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <h2>Самые популярные</h2>
          <ul class="list-group">
          {% for draft in most_watched %}
          <li class="list-group-item"><a href="/draft/{{draft.number}}">{{draft.number}}</a> <abbr title="{{draft.title}}">{{draft.title|truncatechars:100}}</abbr</li>
          {% endfor %}
          </ul>
          <p></p>
       </div>
      </div>

      <hr>

    </div> <!-- /container -->
{% endblock %}
