{% extends 'watcher/base.html' %}

{% block body_block %}

    {% if drafts %}
        <div class="col-sm-8">
          <div class="list-group">
            {% for draft in drafts %}
            <a href="/draft/{{ draft.number }}/" class="list-group-item">
              <h4 class="list-group-item-heading">Законопроект №{{ draft.number }}</h4>
              <p class="list-group-item-text">{{ draft.title }}</p>
            </a>
            {% if user.is_authenticated %}
                {% if draft in userdrafts %}
                <a href="/release_user_from_draft/{{ draft.number }}/" class="btn btn-warning">Отписаться</a>
                {% else %}
                <a href="/add_draft_to_user/{{ draft.number }}/" class="btn btn-success">Подписаться</a>
                {% endif %}
            {% endif %}
            {% endfor %}
          </div>
        </div><!-- /.col-sm-4 -->
    {% else %}
        <p>Тут пока ничего нет</p>
    {% endif %}

    <a href="/update/">Обновить</a>

{% endblock %}
