{% extends 'watcher/base.html' %}

{% block body_block %}
        {% if registered %}
        <p>Спасибо за регистрацию</p>

        <p><a href="/login/">Авторизуйтесь</a>, когда будете готовы</p>
        {% else %}

        <form class="form-signin span8" id="user_form" method="post" action="/register/">
            {% csrf_token %}

            <h2 class="from-signin-heading">Регистрация</h2>

            <div class="row">
              <div class="col-xs-5">
                {% for field in user_form.visible_fields %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
                {% endfor %}
                
                <input type="{% if forloop.last %}password{% else %}{% if field.html_name == 'Username' %}text{% else %}{{ field.html_name }}{% endif %}{% endif %}" 
                class="form-control" placeholder="{{ field.help_text }}" name="{{ field.html_name }}" required autofocus>
                </div>
                {% endfor %}
                <button class="btn btn-lg btn-primary" type="submit">Зарегистрироваться</button>
              </div>
            </div>

        </form>
        {% endif %}
{% endblock %}
