{% extends 'watcher/base.html' %}

{% block body_block %}
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    {% if form %}
    <form class="form-signin span8" id="restore_password_form" method="post" action="/restore_password/{{inp}}">
        {% csrf_token %}

        <h2 class="from-signin-heading">Введите новый пароль</h2>

        <div class="row">
          <div class="col-xs-5">
            {% for field in form.visible_fields %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
            {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
            {% endfor %}
            
            <input type="{% if forloop.last %}password{% else %}{% if field.html_name == 'Username' %}text{% else %}{{ field.html_name }}{% endif %}{% endif %}" 
            class="form-control" placeholder="{{ field.help_text }}" name="{{ field.html_name }}" required autofocus>
            </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary" type="submit">Готово</button>
          </div>
        </div>
    </form>
    {% endif %}
{% endblock %}
