{% extends 'watcher/base.html' %}

{% block body_block %}

    <form id="login_form" method="post" action="/send_restore_password/" role="form">
    {% csrf_token %}
      <h2 class="form-signin-heading">Восстановление пароля</h2>
    <div class="row">
      <div class="col-xs-5">
        {% if message %}
        <span class="help-block">{{ message }}</span>
        {% endif %}
      <label>
          Введите email введённый при регистрации:
      </label>
      <input type="email" class="form-control" placeholder="Email" name="email" required autofocus>
      <button class="btn btn-lg btn-primary" type="submit">Отправить</button>
      </div>
    </div>
    </form>

{% endblock %}
